/* styles.css */

body {
    background-color: #070707;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #ff0040;
    text-align: center;
}

h2 {
    color: #e97e1b;
    text-align: center;
}

figcaption {
    color: #ff0040;
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    text-align: justify;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}